

@section Pageheader{



    <h1>
        <small>  系统日志</small>

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> sys</a></li>
        <li class="active">Log</li>
    </ol>


}


@section Htmlhead{
    <link href="~/lib/datatimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script src="~/lib/datatimepicker/bootstrap-datetimepicker.js"></script>
    <script src="~/lib/datatimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
}



<section class="content" id="tab">
    <div class="row">

        <!-- /.col -->
        <div>
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">List</h3>

                    <div class="box-tools" style="width:750px">


                        <div class="input-group input-group-sm  col-md-1 pull-right ml-1" style="margin-left:10px; width:50px">

                            <button type="button" class="btn btn-sm pull-right " @@click="Search()" id="btn_Search">查询</button>
                        </div>

                        <div class="input-group input-group-sm  pull-right" style="margin-left:10px; width: 120px;">
                            <select class="form-control" v-model="condition.keytype">

                                <option value="0">全部</option>
                                <option value="1">登录日志</option>
                                <option value="2">系统异常</option>
                                <option value="2">操作记录</option>
                            </select>
                        </div>

                        <div class="input-group input-group-sm  col-md-1 pull-right ml-1" style="margin-left:10px;width:120px">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" placeholder="结束时间" id="txt_enddate"  autocomplete="off" />
                        </div>
                        <div class="input-group input-group-sm  col-md-1 pull-right ml-1" style="margin-left:10px;width:120px">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" placeholder="开始时间" id="txt_stardate" autocomplete="off" />
                        </div>





                        <div class="input-group input-group-sm  col-md-1 pull-right ml-1" style="margin-left:10px;width:150px">
                            <div class="input-group-addon">
                                <i class="fa fa-pencil-square-o"></i>
                            </div>
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="关键字搜索" id="txt_Search" v-model="condition.keywork" />
                        </div>

                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <th>类型</th>
                                <th>内容</th>
                                <th>时间</th>

                            </tr>
                            <tr v-for="(item,index) in list">
                                <td>{{item.Id}}</td>
                                <td>
                                    <span class="label label-success" v-if="item.Type==1">用户登录</span>
                                    <span class="label label-danger" v-if="item.Type==2">系统异常</span>
                                    <span class="label label-warning" v-if="item.Type==3">系统异常</span>
                                </td>

                                <td>{{item.Content}}</td>
                                <td style="width:150px">{{item.Createtime}}</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->


                <div class="box-footer no-padding">
                    <div class="card-footer clearfix pull-left" style="margin-left:20px;margin-top:30px;margin-bottom:30px">

                    </div>

                    <div class="card-footer clearfix pull-right " style="margin-right:30px;margin-top:30px;margin-bottom:30px" id="div_page">

                        <zpagenav v-bind:page="pageModel.pageIndex" v-bind:page-size="pageModel.pageSize" v-bind:total="pageModel.TotalCount"
                                  v-bind:max-page="pageModel.ToTalPage" v-on:pagehandler="Init">
                        </zpagenav>

                    </div>


                    <!-- /.pull-right -->
                </div>
            </div>
        </div>

    </div>
    <!-- /.col -->
    <!-- /.row -->
    <!-- /.modal-dialog -->


</section>

@section scripts{


    <script>

        var self;
        var vm = new Vue({
            el: "#tab",
            data: {
                list: [],
                pageModel: {
                    pageIndex: 1,
                    pageSize: 15,
                    TotalCount: 0,
                    ToTalPage: 0,
                },
                condition: {
                    keytype: 0,
                    keywork: "",
                    keystartime: "",
                    keyendTime: ""
                }

            },
            created: function () {
                self = this;

                this.Init(1);
            },
            mounted() {
                this.EnterKeyup();



                $('#txt_enddate,#txt_stardate').datetimepicker({
                    language: 'zh-CN', //语言选择中文 注：旧版本 新版方法：
                    minView: "month",//设置只显示到月份
                    format: "yyyy-mm-dd",//日期格式
                    autoclose: true,//选中关闭
                    todayBtn: true//今日按钮
                });

            },
            methods: {

                Init: function (index) {

                    //时间控件，不能用v-model 双向绑定
                    self.condition.keystartime = $("#txt_stardate").val();
                    self.condition.keyendTime = $("#txt_enddate").val();

                    console.log("日志类型", self.keytype);

                    AjaxPost({
                        url: "/SysLog/List",
                        data: {
                            pageIndex: index,
                            pageSize: self.pageModel.pageSize,
                            keyword: self.condition.keywork,
                            keytype: self.condition.keytype,
                            keystartime: self.condition.keystartime,
                            keyendTime: self.condition.keyendTime,
                        },
                        success: function (result) {

                            console.log(result);

                            if (!result.Success) {
                                alert_info(result.Message);
                            }

                            self.list = result.Content;

                            self.pageModel.pageIndex = result.PageIndex;
                            self.pageModel.pageSize = result.PageSize;
                            self.pageModel.TotalCount = result.TotalCount;
                            self.pageModel.ToTalPage = result.ToTalPage;
                        }
                    })
                },
                Search: function () {
                    this.Init(1);
                },
                EnterKeyup() {

                    document.onkeypress = function (e) {
                        var keycode = document.all ? event.keyCode : e.which;

                        if (keycode == 13) {
                            self.Init(1);
                            return false;
                        }
                    };
                },


            }
        });







    </script>











}