@{
    ViewData["Title"] = "资产管理系统";

    Layout = "";

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <link href="~/Login/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="~/Login/css/font-awesome.min.css" type="text/javascript" rel="stylesheet">
    <link href="~/Login/css/bootsnav.css" type="text/css" rel="stylesheet">
    <link href="~/Login/css/normalize.css" type="text/css" rel="stylesheet">
    <link href="~/Login/css/css.css" rel="stylesheet" type="text/css">
    <script src="~/Login/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Login/js/bootsnav.js" type="text/javascript"></script>

    <!--[if IE]><script src="~/Login/js/html5.js"></script><![endif]-->


    <title>登录</title>
</head>

<body class="logobg_style">
    <div id="large-header" class="large-header login-page">
        <canvas id="demo-canvas" width="1590" height="711"></canvas>
        <div class="login-form">
            <div class="login-content">
                <h1 class="title_name">Victory系统</h1>
                <form method="post" role="form" id="form_login" class="login_padding">
                    <div class="form-group clearfix">

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="icon_user"></i>
                            </div>

                            <input type="text" class="form-control" name="username" id="username" placeholder="手机号" autocomplete="off" v-model="workid">
                        </div>

                    </div>

                    <div class="form-group clearfix">

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="icon_password"></i>
                            </div>

                            <input type="password" class="form-control" name="password" id="password" placeholder="密码" autocomplete="off" v-model="password" v-on:keyup.13="Login">
                        </div>

                    </div>
                    <div class=" textright"><a class="forget" @@click="Forget">忘记密码？</a></div>
                    <div class="tishi"></div>
                    <div class="form-group">
                        <a href="javascript:;" type="button" class="btn btn-danger btn-block btn-login" @@click="Login()" v-on:keyup.13="Login()">
                            <i class="fa fa-sign-in"></i>
                            登录
                        </a>
                    </div>
                    <div class=" textright"><a class="forget" @@click="Register">立即注册</a></div>
                    <!-- Implemented in v1.1.4 -->				<div class="form-group">

                    </div>




                </form>
            </div>

        </div>
    </div>




    <!-- /.login-box -->
    <script src="~/AdminLte/bower_components/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap-growl/jquery.bootstrap-growl.js"></script>
    <script src="~/lib/axios/axios.js"></script>
    <script src="~/Script/alertsjavascrtpt.js"></script>
    <script src="~/Script/RequsetHelper.js"></script>
    <script src="~/lib/vue/vue.js"></script>

    <script src="~/lib/qs/qs.js"></script>


    <script>

        var vm = new Vue({
            el: "#large-header",
            data: {
                workid: "",
                password: "",

            },
            mounted() {

            },
            methods: {
                Login() {
                    var _self = this;
                    let url = "/Login/LoginIn";

                    var params = {
                        workid: _self.workid,
                        password: _self.password
                    }

                    //参数接收， 对象可不需要转
                    params = window.Qs.stringify(params);

                    axios.post(url, params).then(function (result) {

                        console.log(result);

                        if (!result.data.Success) {
                            alert_danger(result.data.Message);
                        } else {
                            window.location.href = "/Home/Index";
                        }

                    }).catch(function (error) {
                        console.log(error);
                    });


                },
                Forget() {
                    alert_success("请重置OA密码！");
                },
                Register() {
                    alert_success("暂不支持用户注册！");
                }
            }

        });

    </script>

    <!---以下js 必须放在最后，否则h5动画无效-->>
    <script src="~/Login/js/TweenLite/TweenLite.min.js"></script>
    <script src="~/Login/js/TweenLite/EasePack.min.js"></script>
    <script src="~/Login/js/TweenLite/rAF.js"></script>
    <script src="~/Login/js/TweenLite/demo-1.js"></script>

</body>



</html>



